:root{
    --background-color: white;

}

* body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin: 15px;
    border: solid black;
    background-color: var(--background-color);  
    color: black;
}

.title {
    text-align: center;
    font-size: 80%;
    text-decoration: underline;
}

.header {
    text-align: center;
    list-style-type: none;
    font-size: 50%;
    margin:2%;
}

li {
    display:inline-block;
    margin: 0 20px;
}

.container {
    font-size: 200%;
}
.container p {
    font-size: 50%;
    margin-right:65% ;
}
