:root {
    --heading-color:grey;
    --background-color:#d1f2eb ;
    --img-radius: 10px;
    --img-shawdow: 10px 8px 10px black;
    }


* body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0%;
    padding:0;
    background-color: var(--background-color);
    color: black;
}
.box {
    background-color: var(--heading-color);
    padding: 5%;
    color: var(--background-color)
    
}
.title {
    text-align: center;
    text-decoration: underline;
    margin: 2%;
}

.header {
    text-align: center;
    list-style-type: none;
    font-size: 80%;
    margin: 2% 0;
}

li {
    display: inline-block;
    margin: 0 20px;
}

.intro {
    font-size: 150%;
}

.intro p {
    font-size: 50%;
    margin: 0 60% 0 5%;
}

img {
    margin: 15px;
    height:200px;
    width: auto;
    border-radius: var(--img-radius);
    box-shadow: var(--img-shawdow);
}
h2 {
    text-decoration: underline var(--heading-color) ;
}
