:root {
    --heading-color: grey;
    --background-color: #dbeeea;
    --img-radius: 10px;
    --img-shawdow: 5px 5px 10px black;
}


* body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0%;
    padding: 0;
    background-color: var(--background-color);
    color: black;
}

.box {
    background-color: var(--heading-color);
    padding: 5%;
    color: var(--background-color);
}

.title {
    text-align: center;
    text-decoration: underline;
    margin: 0%;
}

.header {
    text-align: center;
    list-style-type: none;
    font-size: 80%;
    margin: 2% 0;
}

li {
    display: inline-block;
    margin: 0 20px;
}

.intro {
    font-size: 150%;
}

.intro p {
    font-size: 50%;
    margin: 0 60% 0 5%;
}

img {
    flex: 1;
    margin: 15px;
    height: 200px;
    width: auto;
    border-radius: var(--img-radius);
    box-shadow: var(--img-shawdow);
}

h2 {
    text-decoration: underline;
}

h4{
    margin-left: 10px;
}
p {
    margin-left: 20px;
    font-size: 80%;

}
.image-text-section {
    display:flex;
    flex-direction:row;
}
.text-content {
 flex:1;
 padding:20px;
}

.image {
    flex:1;
    padding:40px 10px 10px 10px;
    height: 200px;
    
}




